<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand fw-semibold fs-4 d-flex align-items-center" routerLink="/">
      <i class="bi bi-mortarboard-fill me-2"></i>
      SMS
    </a>

    <!-- Mobile Toggle Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav nav nav-underline ms-auto">

        <li class="nav-item">
          <a routerLink="/dashboard"
             routerLinkActive="active"
             class="nav-link">
            <i class="bi bi-speedometer2 me-2"></i>
            Dashboard
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link d-flex align-items-center"
             routerLink="/students"
             routerLinkActive="active">
            <i class="bi bi-people-fill me-2"></i>
            Students
          </a>
        </li>

        <li class="nav-item ms-2">
          <a class="nav-link d-flex align-items-center"
             routerLink="/departments"
             routerLinkActive="active">
            <i class="bi bi-building me-2"></i>
            Departments
          </a>
        </li>

        <li class="nav-item ms-2">
          <a class="nav-link d-flex align-items-center"
             routerLink="/courses"
             routerLinkActive="active">
            <i class="bi bi-book-half me-2"></i>
            Courses
          </a>
        </li>

      </ul>
    </div>

  </div>
</nav>
