<div class="container">
  <h2>Student List</h2>

  <button routerLink="/add" class="add-btn">+ Add Student</button>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Course</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let s of students()">
        <td>{{ s.id }}</td>
        <td>{{ s.name }}</td>
        <td>{{ s.email }}</td>
        <td>{{ s.course }}</td>
        <td>
          <button [routerLink]="['/edit', s.id]" class="edit-btn">Edit</button>
          <button (click)="confirmDeleteStudent(s)" class="delete-btn">Delete</button>
          <button (click)="viewStudent(s.id)" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#studentDetailsModal">View</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="modal fade" id="studentDetailsModal" tabindex="-1" aria-labelledby="studentDetailsLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h1 class="modal-title fs-5" id="studentDetailsLabel">Student Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          <p><strong>ID:</strong> {{ selectedStudent()?.id }}</p>
          <p><strong>Name:</strong> {{ selectedStudent()?.name }}</p>
          <p><strong>Email:</strong> {{ selectedStudent()?.email }}</p>
          <p><strong>Course:</strong> {{ selectedStudent()?.course }}</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
        </div>

      </div>
    </div>
  </div>

</div>
