<div class="container">
  <h2>{{ form.value.id ? 'Edit Student' : 'Add Student' }}</h2>

  <form [formGroup]="form" (ngSubmit)="saveStudent()">

    <label>Name</label>
    <input formControlName="name" placeholder="Enter name">

    <label>Email</label>
    <input formControlName="email" placeholder="Enter email">

    <label>Course</label>
    <input formControlName="course" placeholder="Enter course">

    <div class="btn-container">
      <button type="submit" class="btn-save" [disabled]="form.invalid">
        {{ form.value.id ? 'Update' : 'Save' }}
      </button>
      <button type="button" class="btn-cancel" (click)="cancel()">
        Cancel
      </button>
    </div>
  </form>
</div>
